# Google Credentials (for addition to environ variable)
GDriveCredential.json
# Staging Spreadsheets with results
Results7s.csv
Results15s.csv
Ratings7s.csv
Ratings15s.csv
7s.csv
15s.csv
Org.csv
Teams.csv
# Python Venv
/venv
# Random support files
support/
# Random other stuff
.DS_Store
__pycache__/
