<div class='tab-pane fade {{ active }}' id='{{ id }}' role='tabpanel' aria-labelledby='{{ id }}-tab'>
    <div class="container py-4">
        <div class="table-responsive">
            <table class="table table-hover">
                <colgroup>
                  <col span="1" id="rank-col-1">
                  <col span="1" id="rank-col-2">
                  <col span="1" id="rank-col-3">
                  <col span="1" id="rank-col-4">
                  <col span="1" id="rank-col-5">
                </colgroup>
                <thead class="table-dark">
                  <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Team</th>
                      <th scope="col" style="text-align: center">W-L-T</th>
                      <th scope="col" style="text-align: center">Elo</th>
                      <th scope="col" style="text-align: center">PWR</th>
                  </tr>
                </thead>
                <tbody>
                {% set eligibleTeamArea = [] %}
                {% for row in data %}
                  {% if (not eligibleTeamArea) and row["Eligible"] == 'False' %}
                    {% if eligibleTeamArea.append('Nope') %}
                    {% endif %}
                    <tr>
                      <td class="eligibility-separator" style="text-align: center" colspan="5">
                        Teams below this line need more games to be eligible for PWR points. <a
                          href="/about.html#eligibility-explained">Read more here.</a>
                      </td>
                    </tr>
                    <tr>
                      <td>{{ row["Rank"] }}</td>
                      <td><a href='/teams/{{ row["TeamLink"] }}.html'
                        >{{ row["Team"] }}</a></td>
                      <td style="text-align: center">{{ row["WLT"] }}</td>
                      <td style="text-align: center">{{ row["Elo"] }}</td>
                      <td style="text-align: center">{{ row["Pairwise"] }}</td>
                    </tr>
                  {% else %}
                    <tr>
                      <td>{{ row["Rank"] }}</td>
                      <td><a href='/teams/{{ row["TeamLink"] }}.html'>{{ row["Team"] }}</a></td>
                      <td style="text-align: center">{{ row["WLT"] }}</td>
                      <td style="text-align: center">{{ row["Elo"] }}</td>
                      <td style="text-align: center">{{ row["Pairwise"] }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
                <tr>
                  <td style="text-align: center" colspan="5">
                    Teams aren't displayed if they don't have any Division 1 games in our system. <a
                      href="/about.html#eligibility-explained">Read more here.</a>
                  </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
